version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
image: Ubuntu2004
configuration: Release
only_commits:
  files:
    - MassTransit.CloudEvents/**/*
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
build:
  publish_nuget: true
  verbosity: minimal
before_test:
  - docker login -u mriezebosch -p $DOCKER_TOKEN
  - sudo wget -q https://raw.githubusercontent.com/dapr/cli/master/install/install.sh -O - | /bin/bash
  - dapr init
  - docker run -d --hostname my-rabbit --name some-rabbit -p 5672:5672 rabbitmq:alpine
after_test:
  - dotnet tool restore && cd MassTransit.CloudEvents.IntegrationTests && dotnet dotnet-stryker --project-file=MassTransit.CloudEvents.csproj
test_script:
  - dotnet test --collect:"XPlat Code Coverage"
environment:
  DOCKER_TOKEN:
    secure: Dj3j/X71ZSCnXP24pR/1fmGLBKUYFOeN7R9s+QioevmuSGjGzAGq19hIws1w4Csa
for:
  -
    branches:
      only:
        - main
        - stryker
    environment:
      CODECOV_TOKEN: cdb952b9-902f-4d17-82d7-97d9bfea5e14
      STRYKER_DASHBOARD_API_KEY:
        secure: hjq8RYRkP5jADqnQGO67HK3reNedik0E/M7x67bvWfOmnljS9kIiqiAgvCbn4xL6
    after_test:
      - bash <(curl -s https://codecov.io/bash)
      - dotnet tool restore && cd MassTransit.CloudEvents.IntegrationTests && dotnet dotnet-stryker --project-file=MassTransit.CloudEvents.csproj --reporters "['dashboard']" --dashboard-api-key $STRYKER_DASHBOARD_API_KEY --dashboard-project github.com/riezebosch/Dapr.Wrapr/main
    deploy:
      - provider: NuGet
        api_key:
          secure: 8aOBvUnWUu9wLpdkMUCL3bJ5nJXWk/ammKeJk+LVDtyNpIfQLjEOgcDVr9VNgJ6d
        on:
          branch: main